{{ header }}
{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="submit" form="form-analytics" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
			<div class="card-body">
				<form id="form-analytics" action="{{ action }}" method="post" data-oc-toggle="ajax">

					<ul class="nav nav-tabs">
						<li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
						<li class="nav-item"><a href="#tab-gcm" data-bs-toggle="tab" class="nav-link">{{ tab_gcm }}</a></li>
						<li class="nav-item"><a href="#tab-support" data-bs-toggle="tab" class="nav-link">{{ tab_help_and_support }}</a></li>
					</ul>

					<div class="tab-content">
						<div id="tab-general" class="tab-pane active">

							<div class="row mb-3">
								<label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_gtm_status" value="0">
										<input type="checkbox" name="analytics_ps_gtm_status" value="1" class="form-check-input" {% if analytics_ps_gtm_status %} checked{% endif %} id="input-status">
									</div>
								</div>
							</div>

							<div class="row mb-3 required">
								<label for="input-gtm-id" class="col-sm-2 col-form-label">{{ entry_gtm_id }}</label>
								<div class="col-sm-10">
									<input type="text" name="analytics_ps_gtm_gtm_id" value="{{ analytics_ps_gtm_gtm_id | default('') }}" placeholder="{{ entry_gtm_id }}" id="input-gtm-id" class="form-control">
									<div id="error-input-gtm-id" class="invalid-feedback"></div>
									<div class="form-text">{{ help_gtm_id_locate }}</div>
								</div>
							</div>

						</div>
						<div class="tab-pane" id="tab-gcm">

							<div class="alert alert-info"><i class="fa-solid fa-circle-exclamation"></i> {{ text_gcm_info }}</div>

							<div class="row mb-3">
								<label for="input-gcm-status" class="col-sm-2 col-form-label">{{ entry_gcm_status }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_gtm_gcm_status" value="0">
										<input type="checkbox" name="analytics_ps_gtm_gcm_status" value="1" id="input-gcm-status" class="form-check-input" {% if analytics_ps_gtm_gcm_status %} checked{% endif %}>
									</div>
									<div class="form-text">{{ help_gcm_status }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-gcm-profiles" class="col-sm-2 col-form-label">{{ entry_gcm_profiles }}</label>
								<div class="col-sm-10">
									<select name="analytics_ps_gtm_gcm_profiles" id="input-gcm-profiles" class="form-select">
										{% for key, name in gcm_profiles %}
										<option value="{{ key }}"{% if key == analytics_ps_gtm_gcm_profiles %} selected{% endif %}>{{ name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<fieldset id="ad-settings-group" class="border p-3 mb-3">
								<legend>{{ text_group_ad_settings }}</legend>

								<div class="row mb-3">
									<label for="input-ad-storage" class="col-sm-2 col-form-label">{{ entry_ad_storage }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_gtm_ad_storage" value="0">
											<input type="checkbox" name="analytics_ps_gtm_ad_storage" value="1" id="input-ad-storage" class="form-check-input" {% if analytics_ps_gtm_ad_storage %} checked{% endif %}>
										</div>
										<div class="form-text">{{ help_ad_storage }}</div>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-ad-user-data" class="col-sm-2 col-form-label">{{ entry_ad_user_data }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_gtm_ad_user_data" value="0">
											<input type="checkbox" name="analytics_ps_gtm_ad_user_data" value="1" id="input-ad-user-data" class="form-check-input" {% if analytics_ps_gtm_ad_user_data %} checked{% endif %}>
										</div>
										<div class="form-text">{{ help_ad_user_data }}</div>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-ad-personalization" class="col-sm-2 col-form-label">{{ entry_ad_personalization }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_gtm_ad_personalization" value="0">
											<input type="checkbox" name="analytics_ps_gtm_ad_personalization" value="1" id="input-ad-personalization" class="form-check-input" {% if analytics_ps_gtm_ad_personalization %} checked{% endif %}>
										</div>
										<div class="form-text">{{ help_ad_personalization }}</div>
									</div>
								</div>

							</fieldset>

							<fieldset id="analytics-settings-group" class="border p-3 mb-3">
								<legend>{{ text_group_analytics_settings }}</legend>

								<div class="row mb-3">
									<label for="input-analytics-storage" class="col-sm-2 col-form-label">{{ entry_analytics_storage }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_gtm_analytics_storage" value="0">
											<input type="checkbox" name="analytics_ps_gtm_analytics_storage" value="1" id="input-analytics-storage" class="form-check-input" {% if analytics_ps_gtm_analytics_storage %} checked{% endif %}>
										</div>
										<div class="form-text">{{ help_analytics_storage }}</div>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-functionality-storage" class="col-sm-2 col-form-label">{{ entry_functionality_storage }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_gtm_functionality_storage" value="0">
											<input type="checkbox" name="analytics_ps_gtm_functionality_storage" value="1" id="input-functionality-storage" class="form-check-input" {% if analytics_ps_gtm_functionality_storage %} checked{% endif %}>
										</div>
										<div class="form-text">{{ help_functionality_storage }}</div>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-personalization-storage" class="col-sm-2 col-form-label">{{ entry_personalization_storage }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_gtm_personalization_storage" value="0">
											<input type="checkbox" name="analytics_ps_gtm_personalization_storage" value="1" id="input-personalization-storage" class="form-check-input" {% if analytics_ps_gtm_personalization_storage %} checked{% endif %}>
										</div>
										<div class="form-text">{{ help_personalization_storage }}</div>
									</div>
								</div>

							</fieldset>

							<fieldset id="security-settings-group" class="border p-3 mb-3">
								<legend>{{ text_group_security_settings }}</legend>

								<div class="row mb-3">
									<label for="input-security-storage" class="col-sm-2 col-form-label">{{ entry_security_storage }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_gtm_security_storage" value="0">
											<input type="checkbox" name="analytics_ps_gtm_security_storage" value="1" id="input-security-storage" class="form-check-input" {% if analytics_ps_gtm_security_storage %} checked{% endif %}>
										</div>
										<div class="form-text">{{ help_security_storage }}</div>
									</div>
								</div>

							</fieldset>

							<fieldset class="border p-3 mb-3">
								<legend>{{ text_group_advanced_settings }}</legend>

								<div class="row mb-3">
									<label for="input-wait-for-update" class="col-sm-2 col-form-label">{{ entry_wait_for_update }}</label>
									<div class="col-sm-10">
										<input type="number" min="0" max="10000" name="analytics_ps_gtm_wait_for_update" value="{{ analytics_ps_gtm_wait_for_update | default('0') }}" placeholder="{{ entry_wait_for_update }}" id="input-wait-for-update" class="form-control">
										<div id="error-input-wait-for-update" class="invalid-feedback"></div>
										<div class="form-text">{{ help_wait_for_update }}</div>
									</div>
								</div>

								<div class="row mb-3">
										<label for="input-ads-data-redaction" class="col-sm-2 col-form-label">{{ entry_ads_data_redaction }}</label>
										<div class="col-sm-10">
												<div class="form-check form-switch form-switch-lg">
														<input type="hidden" name="analytics_ps_gtm_ads_data_redaction" value="0">
														<input type="checkbox" name="analytics_ps_gtm_ads_data_redaction" value="1" id="input-ads-data-redaction" class="form-check-input" {% if analytics_ps_gtm_ads_data_redaction %} checked{% endif %}>
												</div>
												<div class="form-text">{{ help_ads_data_redaction }}</div>
										</div>
								</div>

								<div class="row mb-3">
										<label for="input-url-passthrough" class="col-sm-2 col-form-label">{{ entry_url_passthrough }}</label>
										<div class="col-sm-10">
												<div class="form-check form-switch form-switch-lg">
														<input type="hidden" name="analytics_ps_gtm_url_passthrough" value="0">
														<input type="checkbox" name="analytics_ps_gtm_url_passthrough" value="1" id="input-url-passthrough" class="form-check-input" {% if analytics_ps_gtm_url_passthrough %} checked{% endif %}>
												</div>
												<div class="form-text">{{ help_url_passthrough }}</div>
										</div>
								</div>

							</fieldset>

						</div>
						<div id="tab-support" class="tab-pane">
							<h3>{{ heading_getting_started }}</h3>
							{{ text_getting_started }}
							<hr>
							<h3>{{ heading_setup }}</h3>
							{{ text_setup }}
							<hr>
							<h3>{{ heading_troubleshot }}</h3>
							{{ text_troubleshot }}
							<hr>
							<h3>{{ heading_faq }}</h3>
							{{ text_faq }}
							<hr>
							<h3>{{ heading_contact }}</h3>
							{{ text_contact }}
						</div>

					</div>

				</form>
			</div>
		</div>
	</div>
</div>
<script>

	var inputs = $('#ad-settings-group input[type="checkbox"], #analytics-settings-group input[type="checkbox"], #security-settings-group input[type="checkbox"]');

	$('#input-gcm-profiles').on('change', function () {
		inputs.prop('checked', false);

		var selectedValue = parseInt($(this).val());

		if (selectedValue === 1) { // Strict
			$('#input-functionality-storage').prop('checked', true);
			$('#input-personalization-storage').prop('checked', true);
			$('#input-security-storage').prop('checked', true);
		} else if (selectedValue === 2) { // Balanced
			$('#input-ad-storage').prop('checked', true);
			$('#input-ad-user-data').prop('checked', true);
			$('#input-analytics-storage').prop('checked', true);
			$('#input-functionality-storage').prop('checked', true);
			$('#input-personalization-storage').prop('checked', true);
			$('#input-security-storage').prop('checked', true);
		}
	});

	inputs.on('change', function () {
		$('#input-gcm-profiles option:first').prop('selected', true);
	});

	$('button[data-fix-action]').on('click', function() {
		var $this = $(this);
		var action = $(this).data('fix-action');

		$.ajax({
			url: action,
			dataType: 'json',
			beforeSend: function () {
				$($this).button('loading');
			},
			complete: function () {
				$($this).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				if (json['success']) {
					$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
</script>
{{ footer }}
